*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

body {
	background: #fff;
	color: #000;
	font-family: "Playfair Display", serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: rgba(71, 71, 107, .7);
}

a:hover, a:focus {
	color: #000;
}

.container {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
	text-align: center;
}

p {
	display: block;
	padding-bottom: 30px;
	font-size: 0.9em;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
}

.narrow {
	width: 85%;
}

/* header and navigation menu */

.logo {
	padding-top: 30px;
	padding-bottom: 20px;
}


.main-nav li {
	padding: 5px 0;
	color: rgba(71, 71, 107, .7);
	font-size: 0.8em;
	text-transform: uppercase;
}

.main-nav li:last-child {
	padding-right: 0;
}

.header-photo {
	margin-bottom: 60px;
}

.header-photo img {
	width: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Photodiary */

.photo-diary {
	padding-bottom: 100px;
	margin: 0 auto;
	color: rgba(115, 115, 115, .9);
}

.photo-diary span {
	display: block;
	font-size: 0.9em;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	opacity: .6;
}

.photo-diary h1 {
	padding-bottom: 10px;
}


/* Div with 4 articles */

.articles-wrapper {
	padding-top: 80px;
	padding-bottom: 40px;
	margin: 0 auto;
	color: rgba(115, 115, 115, .9);
}

.article img {
	width: 90%;
	padding-bottom: 30px;
}

.article span {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	opacity: .6;
}


/* Newsletter sign-up */

.newsletter-field {
	height: 260px;
	background: #f2f2f2;
	text-align: center;
}

.newsletter-field legend {
	padding-top: 50px;
	margin: 40px auto;
	font-size: 1.4rem;
}

.newsletter-field input {
	display: inline-block;
	width: 60%;
	height: 30px;
	border: none;
	border-bottom: 2px solid #000;
	background: #f2f2f2 url("../images/Send_icon.png") no-repeat right / 8%;
	color: #000;
	font-size: 0.8em;
}

.newsletter-field input:focus {
	outline: none;
}


.newsletter-field input::-webkit-input-placeholder, .newsletter-field input::-moz-placeholder,
.newsletter-field input:-ms-input-placeholder, .newsletter-field input:-moz-placeholder  {
	color: #000;	
}


/* Button load-more */

.btn-field {
	padding: 80px 0;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 0.75em 1.5em;
	border: 1px solid ;
	font-size: 1.4em;
	text-align: center;
}



 /* Footer */

 .footer {
 		height: 90px;
 		background: #f2f2f2;
 }

 .bottom-nav {
 		float: left;
 		width: 55%;
 		padding: 30px 15px;
 		font: 700 0.7em;
 		text-align: left;

 }

 .bottom-nav li {
 	color: #000;
 	font-size: 0.8em;
 }

 .social-links {
 	float: right;
 	width: 30%;
 	padding-top: 30px;
 	font-size: 0.7em;
 }

 .social-links h4 {
 	margin: 0;
 	text-align: center;
 }

 .social-links li {
 	display: inline-block;
 	padding: 4px 2px;

 }

 .social-links .social-img {
 	width: 12px;
 }


@media (min-width: 768px) {
	
	.container {
		padding: 0 40px;
	}

	.narrow {
	width: 80%;
	text-align: left;
	}


	.logo {
		float: left;
		padding-top: 40px;
	}
	
	.main-nav ul {
		float: right;
		padding-top: 35px;
	}
	
	.main-nav li {
		display: inline-block;
		padding: 5px 15px;
		font-size: 0.9em;
	}

	.article img {
		width: 80%;
	}

	.newsletter-field legend {
		font-size: 1.6em;
	}

	.newsletter-field input {
		width: 45%;
		right: 28%;
		background-size: 5%;
		font-size: 0.9em;
	}

	.bottom-nav li {
		display: inline-block;
		padding: 0 4px;
		font-size: 1em;
	}

	.social-links {
		width: 22%;
		margin-right: 15px;
		font-size: 0.8em;
	}
	.social-links h4 {
		float: left;
	}

	.social-links .social-img {
		position: relative;
		bottom: 3px;
		width: 15px;
		display: block;
		margin-right: 5px;
	}
}

@media (min-width: 1024px) {

	.narrow {
	width: 75%;
	}

	.main-nav li {
		padding: 5px 55px;
		font-size: 1.1em;
	}

	.article {
		display: inline-block;
		vertical-align: top;
		width: 45%;
		padding-bottom: 60px;
	}

	.article img {
		width: 100%;
	}

	.article:nth-child(odd) {
		margin-right: 60px;
	}

	.newsletter-field input {
		height: 40px;
		width: 28%;
		background-size: 4%;
	}

	.bottom-nav li {
		padding: 0 8px;
	}

	.social-links {
		width: 15%;
	}

	.social-links h4 {
		font-size: 0.9em;
	}

	.social-links .social-img {
		width: 18px;
	}

}

