.container {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
	@extend %centered;
	@include tablet {
		padding: 0 40px;
	}
}

.narrow {
	width: 85%;
	@include tablet {
		width: 80%;
		text-align: left;
	}
	@include desktop {
		width: 75%;
	}
}
