/* header and navigation menu */

.logo {
	padding-top: 30px;
	padding-bottom: 20px;
}


.main-nav li {
	padding: 5px 0;
	color: $dark-grey;
	font-size: 0.8em;
	text-transform: uppercase;
	&:last-child {
		padding-right: 0;
	}
}

.header-photo {
	margin-bottom: 60px;
	img {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}