/* header and navigation menu */

.logo {
	padding-top: 30px;
	padding-bottom: 20px;
	@include tablet {
		float: left;
		padding-top: 40px;
	}
}


.main-nav {

	li {
		padding: 5px 0;
		color: $dark-grey;
		font-size: 0.8em;
		text-transform: uppercase;
		&:last-child {
			padding-right: 0;
		}
	}
	@include tablet {
		li {
			display: inline-block;
			padding: 5px 15px;
			font-size: 0.9em;
		}
		ul {
			float: right;
			padding-top: 35px;
		}
	}
	@include desktop {
		li {
			padding: 5px 55px;
			font-size: 1.1em;
		}
	}
}

.header-photo {
	margin-bottom: 60px;
	img {
		width: 100%;
	}
}

