/* Button load-more */

.btn-field {
	padding: 80px 0;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 0.75em 1.5em;
	border: 1px solid ;
	font-size: 1.4em;
	text-align: center;
}
