
// color variables

$black : #000;
$dark-grey: rgba(71, 71, 107, .7);
$medium-grey: rgba(115, 115, 115, .9);
$light-grey: #f2f2f2;


// fonts

$playfair: "Playfair Display", serif;
$ubuntu : "Ubuntu", sans-serif;

// path

$img-path : "../images";

// media queries

$tablet : "(min-width: 768px)";
$desktop : "(min-width: 1024px)";